.aboutMe {
    margin-bottom: 2rem;
    margin-top: 150vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: rgb(248,248,248);
}

.img {
    height: 500px;
}

.aboutInfo {
    width: 60%;
}


.contactMeBtn {
    cursor: pointer;
    span {
        color: #4c4a57;
        font-size: 16px;
    }
        color: black;
        text-decoration: none;
        font-size: 16px;
    &:hover {
        text-decoration: none;
    }
    &:before {
        top: 9px;
        height: 3px;
        opacity: 0.5;
        left: -5px;
        right: -5px;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition-duration: 400ms;
        background: #FF5851;
        content: "";
        position: absolute;
        transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    }
    &:hover:before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    &:after {
        transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
        position: absolute;
        content: "";
        background: #4c4a57;
        transform: scaleX(1);
        transform-origin: bottom left;
        transition-duration: 400ms;
        top: 20px;
        right: 0px;
        left: 0px;
        height: 2px;
    }
    &:hover:after {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
  }

  @media (max-width: 540px) {
      .aboutMe {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 0;
        margin-top: 150vh;
      }      
      .aboutInfo {
          width: 80%;
      }
      .img {
          height: 400px;
      }
  }