@import "Hello";
@import "project";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(248, 248, 248);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff5851;
  z-index: 9999;
  transform-origin: 9%;
  animation: load 2s ease 1.5s 1 forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Pg {
  stroke-dasharray: 86;
  animation: svg 1s linear .5s 1 forwards;
}

#home-svg {
  animation: svg-opacity 2s ease 1.5s 1 forwards;
}

@keyframes load {
  0%{opacity: 1}
  75%{opacity: 1; transform: scale3d(0.45, 0.857, 1)}
  100%{opacity: 0; transform: scale3d(0, 0, 0)}
}

@keyframes svg-opacity {
  0%{opacity: 1}
  10%{opacity: .2}
  100%{opacity: 0}
}

@keyframes svg {
  0%{stroke-dashoffset: 0}
  50%{stroke-dashoffset: 86}
  100%{stroke-dashoffset: 0}
}
