.hello {
    width: 100%;
    height: 100vh;
    background: #ff5851;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

#hello {
    margin: 0;
    z-index: 3;
    padding-left: 3rem;
    transition: all ease-in-out 1s;
}

.leftBack {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: #f8f8f8;
    transition: all ease-in-out 1s;
}

.moveH1 {
    padding-left: 94% !important;
}

.moveBack {
    width: 0;
}

.hello-info {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);
    color: #575757;
    transition: all ease-in-out 1s;
    opacity: 0;
}