.menuLeft {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    width: 250px;
    background-color: white;
    z-index: 9;
    transition: all ease .4s;
    padding: 50px;
    display: flex;
    align-items: center;
}

.menuBtn {
    position: absolute;
    top: 50%;
    right: -50px;
    display: flex;
    align-items: center;
    transition: all ease-in-out .4s;
    img {
        height: 18px;
    }
    p {
        transform: rotateZ(-90deg);
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.menuContent {
    display: flex;
    flex-direction: column;
    h4 {
        transition: all ease .4s;
        &:hover {
            color: #ff5851;
            cursor: pointer;
        }
    }
}

.projectsContent {
    display: flex;
    flex-direction: column;
}

.menuProjects {
    display: flex;
    align-items: center;
    svg {
        transform: rotate(-90deg);
        height: 22px;
        margin-left: 6px;
        padding: 4px;
        transition: all ease .4s;
        &:hover {
            color: #ff5851;
            cursor: pointer;
        }
    }
}

.projectsList {
    overflow: hidden;
    height: 0px;
    transition: all ease .4s;
    h6 {
        transition: all ease .4s;
        &:hover {
            color: #ff5851;
            cursor: pointer;
        }
    }
}

.socialMedia {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50px;
    background-color: white;
    z-index: 11;
    display: flex;
    align-items: center;
}

.socialList {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    li {
        margin: 4px 0;
    }
    svg {
        width: 24px;
        color: #575757;
        transition: all ease .4s;
        &:hover {
            color: #ff5851;
        }
    }
}

.name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    padding-left: 50px;
    z-index: 10;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: white;
    padding: 0 50px;
    z-index: 10;
}

.arrow {
    position: absolute;
    top: -56px;
    right: 50%;
    display: flex;
    flex-direction: column;
    transition: all ease .6s;
    p {
        transform: rotateZ(-90deg);
    }
    svg {
        height: 20px;
    }
}

.point {
    color: #ff5851;
}

.mobileMenu {
    display: none;
    position: fixed;
    top: 24px;
    right: 28px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    align-items: center;
    justify-content: center;
    svg {
        height: 20px;
    }
}

@media (max-width: 540px) {
    .footer, .socialMedia, .menuLeft {
        display: none;
    }
    .name {
        background-color: transparent;
        top: 14px;
    }
    .mobileMenu {
        display: flex;
    }
}