.project {
    position: fixed;
    top: 0;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: top;
    margin: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

.les-trois {
    left: 100%;
    transition: left ease-in-out 1s;
}
.helper {
    left: 100%;
    transition: left ease-in-out 1s;
}

.portfolio {
    left: 100%;
    transition: left ease-in-out 1s;
}