.leftArrow {
    position: absolute;
    top: 14px;
    left: 22px;
    display: flex;
    align-items: center;
    color: #ff5851;
    transition: transform ease .4s;
    &:hover {
        animation: move-back .4s ease-in-out infinite alternate both;
        cursor: pointer;
    }
    p {
        margin: 0;
        margin-left: 4px;
    }
    svg{
        height: 28px;
    }
}

.projectContent {
    width: 54%;
    background: rgb(248,248,248);
    padding: 20px 40px;
    margin: 0 2rem 3rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    h1 {
        color: #ff5851;
    }
    a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        &:hover {
          text-decoration: none;
        }
        &:before {
          bottom: 20px;
          top: 8px;
          height: auto;
          opacity: 0.5;
          left: -5px;
          right: -5px;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition-duration: 400ms;
          background: #ff5851;
          content: "";
          position: absolute;
          transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
        }
        &:hover:before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        &:after {
          transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
          position: absolute;
          content: "";
          background: black;
          transform: scaleX(1);
          transform-origin: bottom left;
          transition-duration: 400ms;
          top: 20px;
          right: 0px;
          left: 0px;
          height: 2px;
        }
        &:hover:after {
          transform: scaleX(0);
          transform-origin: bottom right;
        }
    }
}

@keyframes move-back {
    from{transform: scale(1)}
    to{transform: scale(1.1)}
}