.project {
    position: fixed;
    top: 0;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: top;
    margin: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

.project-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    display: none;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}

.les-trois {
    left: 100%;
    transition: left ease-in-out 1s;
}
.helper {
    left: 100%;
    transition: left ease-in-out 1s;
}

.portfolio {
    left: 100%;
    transition: left ease-in-out 1s;
}

.les-trois-mobile {
    left: 100%;
    transition: left ease-in-out 1s;
}
.helper-mobile {
    left: 100%;
    transition: left ease-in-out 1s;
}

.portfolio-mobile {
    left: 100%;
    transition: left ease-in-out 1s;
}

@media (max-width: '540px') {
    .project-mobile {
        display: flex;
    }
    .project {
        display: none;
    }
}